<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ef33LlantasRegio.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="soapHttpEndpoint" maxBufferSize="524288000" maxReceivedMessageSize="524288000" />
                <binding name="DgieWSPortSoapBinding" />
                <binding name="soapHttpEndpoint1" />
                <binding name="soapHttpEndpointHttps" maxReceivedMessageSize="524288000">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.foliosdigitalespac.com/WSTimbrado33Test/WSCFDI33.svc"
                binding="basicHttpBinding" bindingConfiguration="soapHttpEndpoint"
                contract="WSCFDI33.IWSCFDI33" name="soapHttpEndpoint" />
            <endpoint address="http://www.banxico.org.mx/DgieWSWeb/DgieWS"
                binding="basicHttpBinding" bindingConfiguration="DgieWSPortSoapBinding"
                contract="Banxico.DgieWSPort" name="DgieWSPort" />
            <endpoint address="https://www.foliosdigitalespac.com/WSTimbrado33/WSCFDI33.svc"
                binding="basicHttpBinding" bindingConfiguration="soapHttpEndpointHttps"
                contract="WSCFD133PROD.IWSCFDI33" name="soapHttpEndpointHttps" />
        </client>
    </system.serviceModel>
    <userSettings>
        <ef33LlantasRegio.My.MySettings>
            <setting name="rutaXMLST" serializeAs="String">
                <value />
            </setting>
            <setting name="rutaXML" serializeAs="String">
                <value />
            </setting>
            <setting name="usuarioFD" serializeAs="String">
                <value />
            </setting>
            <setting name="contrasenaFD" serializeAs="String">
                <value />
            </setting>
            <setting name="folio" serializeAs="String">
                <value />
            </setting>
            <setting name="rutaCertificado" serializeAs="String">
                <value />
            </setting>
            <setting name="rutaPFX" serializeAs="String">
                <value />
            </setting>
            <setting name="contrasenaPFX" serializeAs="String">
                <value />
            </setting>
            <setting name="emisorRFC" serializeAs="String">
                <value />
            </setting>
            <setting name="emisorRazonSocial" serializeAs="String">
                <value />
            </setting>
            <setting name="emisorRegimenFiscal" serializeAs="String">
                <value />
            </setting>
            <setting name="emisorLugarExpedicion" serializeAs="String">
                <value />
            </setting>
            <setting name="Host" serializeAs="String">
                <value>facturacion33.arasis.com.mx</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>arasisco_facturacion33</value>
            </setting>
            <setting name="DBUser" serializeAs="String">
                <value>arasi_aramos</value>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value>253014Aramos@</value>
            </setting>
            <setting name="Base64PFXCancelacion" serializeAs="String">
                <value />
            </setting>
            <setting name="SerieFactura" serializeAs="String">
                <value />
            </setting>
        </ef33LlantasRegio.My.MySettings>
    </userSettings>
</configuration>